footer {
    box-shadow: 0px -10px teal;
}

body {
    background-image: url(https://lh3.googleusercontent.com/proxy/3W2U1OSbU5N_wPR6W3DaLXRoVJDFhyMx4eMGq5lQdhjLTs01lBh8IXO7rz3jziyGaOMTIyPhayPWcDuLgjBfsMljigLtJNNcy7rdCYsRBNy7sEb0SQ8Mz5P1Rk-8HM22ue0zNeY);
    background-size: cover;
}

h1,
.navbar-brand {
    font-family: 'Noto Serif', serif;
}

.figure-img {
    height: 350px;
    width: 350px;
}

#metages {
    width: 15rem;
    height: 18rem;
}
#portfolio {
    max-width: 70%;
}
#about {
    max-width: 750px;
}