footer {
    box-shadow: 0px -10px teal;
}

body {
    background-image: url(https://image.shutterstock.com/image-illustration/black-white-abstract-background-diamond-260nw-691648363.jpg);
    background-size: cover;
}

h1,
.navbar-brand {
    font-family: 'Noto Serif', serif;
}

.figure-img {
    height: 350px;
    width: 350px;
}

#metages {
    width: 13rem;
    height: 14rem;
}
#portfolio {
    max-width: 70%;
}
#about {
    max-width: 700px;
    
}
