
html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url(https://image.shutterstock.com/image-illustration/black-white-abstract-background-diamond-260nw-691648363.jpg);
    background-size: cover;
    margin: 0 0 100px;

}

h1,
.navbar-brand,
h5 {
    font-family: Georgia,serif
}

.figure-img {
    height: 350px;
    width: 350px;
}

#metages {
    width: 15rem;
    height: 18rem;
}
#portfolio {
    max-width: 70%;
    /* margin: 40px 20px; */
}
#contact {
    max-width: 85%;
    margin: 40px 20px;
}
#about {
    max-width: 85%;
    margin: 40px 20px;
}
footer {
    box-shadow: 0px -10px teal;
    position: fixed;
    bottom: 0;
    width: 100%;

}
.contact-button {
    width: 100%;
}
h5 {
 color: rgb(55, 0, 255);
}